@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
}

.selection {
  position: absolute;
  left: var(--left);
  /* top: var(--top); */
  width: var(--width);
  height: var(--height);
  transition: all 0.2s;
}

button {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
}

::-webkit-scrollbar-thumb {
  background: #bbd7ec;
  border-radius: 10px;
}

.card-after {
  position: relative;
}

.card-after::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 50%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
}
